<h2>Authors</h2>

<div class="row">
    <label for="authorFirstName" class="control-label col-xs-2">First Name:</label>
    <div class="col">
        <input #authorFirstName />
    </div>
        
    <label for="authorMiddleName" class="control-label col-xs-2">Middle Name:</label>
    <div class="col">
        <input #authorMiddleName />
    </div>

    <label for="authorLastName" class="control-label col-xs-2">Last Name:</label>
    <div class="col">
        <input #authorLastName />
    </div>

    <div class="col">
        <button class="btn btn-success" (click)="add(authorFirstName.value, authorMiddleName.value, authorLastName.value); authorFirstName.value=''; authorMiddleName.value=''; authorLastName.value=''">Add</button>
    </div>    
</div>
<div class="row">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Last</th>
                <th scope="col">First</th>
                <th scope="col">Middle</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let author of authors">
                <th scope="row">{{ author.id }}</th>
                <td>{{ author.lastName }}</td>
                <td>{{ author.firstName }}</td>
                <td>{{ author.middleName }}</td>
                <td>
                    <a routerLink="/authors/{{ author.id }}">
                        Edit
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" title="delete author" (click)="delete(author)">x</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>